<div ng-include src="'app/login/login.view.html'"></div>
<!-- Modal -->
<div class="perfil col-md-6">
  <div class="row"> 
    <div class="form-group">
     <div class="col-xs-12 col-sm-12">
       <h2>{{meusdados.name}}</h2>
       <p><strong>ID: </strong> {{meusdados.id}}</p>
       <p><strong>Idade: </strong>  {{meusdados.age}}</p>
       <div ng-if="meusdados.gender == 'M'">
         <p><strong>Sexo: </strong> Masculino </p>
       </div>
       <div ng-if="meusdados.gender == 'F'">
        <p><strong>Sexo: </strong> Feminino </p>
      </div>              
    </div>
  </div>
</div>
</div>

<div class="perfil-2  col-md-6">
  <div class="row"> 
   <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Inventário</label>
      <div class="col-md-12 inventario">
        <div class="row">
          <div ng-if="inventario" ng-repeat="item in inventario">
           <div class="col-xs-6 col-sm-3 {{item.item.name}}"><h2>{{item.quantity}}</h2></div>
         </div>
       </div>
     </div>
   </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Localização</label>
      <div class="col-sm-9">
       <map center="{{posicaoAtual}}" zoom-control="true" zoom="8"  on-click="click()"> 
        <marker ng-if="show" position="{{posicaoAtual}}" title="Minha posição Atual"></marker>
      </map>     
      </div>
    </div>
    <div class="botoes col-md-12 text-center">  
      <button type="submit" class="btn btn-custom" ng-click="atualizarPerfil()"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Atualizar minha localização</button> 
    </div>
    </form>
  </div>
</div>

