<div ng-include src="'app/login/login.view.html'"></div>
<div id="Carousel" class="carousel slide" data-interval="8000" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="public/imagens/slides/slide2.jpg" class="img-responsive">
      <div class="carousel-caption">
        <h1>Venha fazer parte da resistência zumbi!</h1>
        <p>Juntos somos mais fortes!</p>
        <p><a class="btn btn-lg btn-custom" style="color:#fff;"  data-toggle="modal" data-target="#modalCadastro"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Criar minha conta</a></p>
      </div>
    </div>
    <div class="item">
      <img src="public/imagens/slides/slide1.jpg" class="img-responsive">
      <div class="carousel-caption">
        <h1>Venha fazer parte da resistência zumbi!</h1>
        <p>Juntos somos mais fortes!</p>
        <p><a class="btn btn-lg btn-custom" style="color:#fff;"href="/cadastro" role="button">Abrir uma conta</a></p>
      </div>
    </div>
  </div>
  <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </span>
  <span class="right carousel-control" data-target="#Carousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </span>
</div>

<!-- Modal -->
<div>
  <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel" style="text-align:center; font-weight: bold;">Cadastro de sobreviventes</h2>
        </div>

        <div class="modal-body" style="padding-top:20px;padding-bottom:20px;">
         <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-9">
              <input type="text" ng-model="pessoa.nome" class="form-control" id="inputEmail3" placeholder="Nome">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Idade</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="pessoa.idade" id="inputPassword3" placeholder="Idade">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <label>
                <input type="radio" name="sexo" required="">
                Feminino
              </label>
              <label>
                <input type="radio" name="sexo" required="">
                Masculino
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Localização</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" ng-model="pessoa.longitude" placeholder="Longitude">
              <input type="number" class="form-control" ng-model="pessoa.latitude" placeholder="Latitude">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Inventário</label>
            <div class="col-md-12 inventario">
              <div class="row">
                <div ng-repeat="item in inventario">
                 <a ng-click="item.count = item.count + 1">
                  <div class="col-xs-6 col-sm-3 {{item.name}}"><h2>{{item.count}}</h2></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer" >
      <div class="col-sm-offset-2 col-sm-9" style="float:center;padding-top:10px;padding-bottom:10px;">   
        <button type="button" class="btn btn-custom" ng-click="limparInventario()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Limpar Inventário
        </button>
        <button type="submit" class="btn btn-custom"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Me Cadastrar</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container estatistica col-md-12">
  <div class="row">   
    <div class="col-md-4 ">
      <h1>40%</h1>
      <h5>SOBREVIVENTES INFECTADOS</h5>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4 ">
      <h1>60%</h1>
      <h5>SOBREVIVENTES NÃO INFECTADOS</h5>

    </div><!-- /.col-lg-4 -->
    <div class="col-md-4 ">
      <h1>655335</h1>
      <h5>PONTOS PERDIDOS</h5>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.row -->

<div class="container troca col-md-12">
  <div class="row">  
    <div class="container col-md-12">
      <h3>TROCA DE ITENS ENTRE SOBREVIVENTES</h3>
      <p>Sobreviventes ao ataque zumbi podem trocar itens entre si, para que aumente o chance de sobreviver nesse cenário apocalíptico.</p>
    </div> 
    <div class="col-md-3 ">
      <h1>40%</h1>
      <h5>ITENS POR SOBREVIVENTE</h5>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-3 ">
      <h1>60%</h1>
      <h5>ITENS POR SOBREVIVENTES NÃO INFECTADOS</h5>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.row -->

<div class="col-md-12 sobreviventes">
  <div class="sobreviventes-info">
    <h3>SOBREVIVENTES IDENTIFICADOS</h3>
  </div>
  <div class="strip text-center"><img src="public/imagens/mapa.png" alt=" "/></div>
  <div class="sobreviventes-mapa">

   <ng-map zoom="1" center="-11.436955216143177,-53.4375" on-click="placeMarker()">

  </div>
</div>
</content>
<footer class="footer">
  <div class="container">
    <span >Copyright &copy; 2017 Daniel Leonardo</span>
  </div>
</footer>
